img
{
  height: 100px;
  width: 100px;
}

.title
{
  text-align: center;
}

.movies
{
  display: flex;
  gap: 20px;
}

.movie
{
  padding: 50px;
  box-shadow: 2px 2px 2px black;
}

.app {
  display: inline-block;
  gap: 20px;
}